*{
    background-color: #e3e5e8;
    color:rgb(0, 0, 0);
    font-family: 'Lato', sans-serif;
}
body {
    font-size: 150%;
    text-align: justify;
}

h1 {
    text-align: center;
    font-size: 200%;
}
.container {
    width: 100%;   
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: bottom;

}
.gallery {
    text-align:center; 
}

.gallery img{
    display: flex;
    padding: 20px;
    column-gap: 20px;
    row-gap: 20px;
    margin: 10px; 
}
.image-container p {
    margin-top: 10px; 
  }

.gallery img:hover{
  opacity: 0.5;
  transition: 0.5s;
  color: white;
}
.notes img {
    height: 70px;
    width: 70px;
    position:absolute;
    bottom:1%;
    right:1%;
    transition: 0.4s;
}
.notes img:hover{
transform:scale(0.8)
}
p {
    text-align: center;
}